<!DOCTYPE html>
<html>
	<head>
		<title>WebSpider</title>
	</head>
	<body>
		<h1>Bienvenue sur le webspider</h1>
		<ul>
			<li>
				<a href="http://127.0.0.1:3000/queue/size">Queue size</a>
			</li>
			<li>
				<a href="http://127.0.0.1:3000/queue/start">Initier le websiper avec un page personalisé</a>
			</li>
			<li>
				<a href="http://127.0.0.1:3000/queue/add?url=http%3A//twitter.com/FGRibreau">Initier le websiper dans la page par defaut</a>
			</li>
			<li>
				<a href="http://127.0.0.1:3000/queue/list">La taille du queue courant</a>
			</li>
		</ul>
	</body>

